<!DOCTYPE html>
<html>
<title>Mimimo Pass</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/w3.css">
<link rel="stylesheet" href="/css/w3-theme-blue-grey.css">
<link rel="stylesheet" href="/font-awesome/css/solid.css">
<link rel="stylesheet" href="/font-awesome/css/fontawesome.css">
<script src="/js/script.js"></script>

<body>

    <header class="w3-container w3-theme w3-xxxlarge">
        <a href="">
            <div class="w3-cell w3-padding">
                <i class="fas fa-hippo"></i>
            </div>
            <div class="w3-cell w3-padding">
                Mimimo Pass
            </div>
        </a>
    </header>

    <div class="w3-container w3-margin-top">
        <div class="w3-padding" onclick="ViewOrHide(document.getElementById('modalNewApp'))">
            <i class="fas fa-plus w3-text-theme"></i>
            New app
        </div>
        <ul class="w3-ul w3-theme-l4">
            {{range $i, $a := .Apps}}
            <li class="w3-hover-theme-light w3-border w3-border-white" onclick="ViewOrHide(document.getElementById('detail_{{$a.AppName}}'))">
                <i class="fas fa-angle-double-right w3-text-theme"></i>
                {{$a.AppName}}
            </li>
            {{ if eq $.SelectedApp $a.AppName}}
            <li class="w3-show" id="detail_{{$a.AppName}}">
                {{ else }}
            <li class="w3-hide" id="detail_{{$a.AppName}}">
                {{ end }}
                <form id="form_{{$a.AppName}}" method="post" action="/">
                    <input name="app" value="{{$a.AppName}}" type="hidden" />
                    <ul class="w3-ul w3-hoverable w3-white">
                        <li class="w3-padding-small">
                            <a href="/?password={{$a.AppName}}" class="w3-button w3-small">
                                <i class="fas fa-key w3-text-theme"></i> Show password
                            </a>
                        </li>
                        <li class="w3-padding-small">
                            <a href="/?delete={{$a.AppName}}" class="w3-button w3-small">
                                <i class="fas fa-trash-alt w3-text-theme"></i> Delete
                            </a>
                        </li>
                        <li class="w3-padding-small">
                            <a href="/?new={{$a.AppName}}" class="w3-button w3-small">
                                <i class="fas fa-redo-alt w3-text-theme"></i> Generate new password
                            </a>
                        </li>
                        <li class="w3-padding-small">
                            <a href="/?history={{$a.AppName}}" class="w3-button w3-small">
                                <i class="fas fa-history w3-text-theme"></i> History
                            </a>
                        </li>
                    </ul>
                </form>
            </li>
            {{ end }}
        </ul>
    </div>

    {{template "modalNewApp.html"}}
    {{template "modalSeePass.html" .}}
    {{template "modalHistory.html" .}}

</body>

</html>