<div id="modalNewApp" class="w3-modal w3-hide">
    <div class="w3-modal-content w3-card-4" style="max-width:400px">
        <header class="w3-cell-row w3-theme">
            <div class="w3-container w3-cell">
                <h5>New Application </h5>
            </div>
            <span onclick="ViewOrHide(document.getElementById('modalNewApp'))" class="w3-button w3-hover-theme-light w3-large w3-cell"
                title="Close Modal">&times;</span>
        </header>
        <form class="w3-container" method="post" action="/">
            <div class="w3-section">
                <p>
                    <label>Application</label>
                    <input class="w3-input w3-border" type="text" placeholder="Enter app name" name="app" required>
                </p>
                <p>
                    <label>Login</label>
                    <input class="w3-input w3-border" type="text" placeholder="Enter login" name="login" required>
                </p>
                <input name="action" value="newapp" type="hidden" />
                <input name="useSpecials" class="w3-check" type="checkbox" checked="checked"> Use
                special characters
                <button class="w3-button w3-hover-theme-light w3-block w3-theme w3-section" type="submit">Add</button>
            </div>
        </form>
    </div>
</div>