{{ if $.AppPasswordToShow.AppName }}
<div id="modalSeePass" class="w3-modal w3-show">
    {{ else }}
    <div id="modalSeePass" class="w3-modal w3-hide">
        {{ end }}
        <div class="w3-modal-content w3-card-4" style="max-width:400px">
            <header class="w3-cell-row w3-theme">
                <div class="w3-container w3-cell">
                    <h5>See Password</h5>
                </div>
                <span onclick="ViewOrHide(document.getElementById('modalSeePass'))" class="w3-button w3-hover-theme-light w3-large w3-cell"
                    title="Close Modal">&times;</span>
            </header>
            <form class="w3-container" method="post" action="/">
                <div class="w3-section">
                    <input name="passphrase" class="w3-input w3-border" type="password" placeholder="Enter passphrase">
                    <button class="w3-button w3-hover-theme-light w3-block w3-theme w3-section" type="submit">Show
                        password</button>
                    <input name="action" value="showpass" type="hidden" />
                    <input name="app" value="{{$.AppPasswordToShow.AppName}}" type="hidden" />
                    <div class="w3-cell-row">
                        <div class="w3-cell w3-cell-middle">
                            <input id="pass" value="{{$.Pass}}" type="text" class="w3-input w3-border" readonly />
                        </div>
                        <div class="w3-cell w3-cell-middle w3-padding-small w3-center">
                            <i class="fas fa-clipboard w3-text-theme w3-xlarge" onclick="copy()"></i>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>