{{ if eq "askdelete" $.Action }}
<div id="modalConfdelete" class="w3-modal w3-show">
    {{ else }}
    <div id="modalConfdelete" class="w3-modal w3-hide">
        {{ end }}
        <div class="w3-modal-content w3-card-4" style="max-width:400px">
            <header class="w3-cell-row w3-theme">
                <div class="w3-container w3-cell">
                    <h5>Confirmation</h5>
                </div>
                <span onclick="ViewOrHide(document.getElementById('modalConfdelete'))" class="w3-button w3-hover-theme-light w3-large w3-cell"
                    title="Close Modal">&times;</span>
            </header>
            <form class="w3-container" method="post" action="/">
                <div class="w3-section">
                    Are you sure you want to delete following app ?<br>
                    <i class="fas fa-angle-double-right w3-text-theme"></i>
                    {{$.SelectedApp}}
                    <input name="action" value="delete" type="hidden" />
                    <input name="app" value="{{$.SelectedApp}}" type="hidden" />
                    <button class="w3-button w3-hover-theme-light w3-block w3-theme w3-section" type="submit">Confirm</button>
                    <button class="w3-button w3-hover-theme-light w3-block w3-theme w3-section" type="button" onclick="ViewOrHide(document.getElementById('modalConfdelete'))">Cancel</button>
                </div>
            </form>
        </div>
    </div>